<div class="modal fade spells" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center w-100">Выбери заклинание</h5>
      </div>
      <div class="modal-body text-center">
          <div class="container">
              <div class="row">
                <div class="spell attack bg-dark col-lg m-3" data-key="one" data-spell="math">Математика</div>
                <div class="spell heal bg-dark col-lg m-3" data-key="two" data-spell="translate">Перевод</div>
              </div>
              <div class="row">
                <div class="spell attack bg-dark col-lg m-3" data-key="three" data-spell="aud">Аудирование</div>
                <div class="spell heal bg-dark col-lg m-3" data-key="four" data-spell="speech">Произношение</div>
              </div>
              <div class="row">
                <div class="spell attack bg-dark col-lg m-3" data-spell="balloons">Шары</div>
                <div class="spell heal bg-dark col-lg m-3" data-spell="dragNdrop">Перетаскивание</div>
              </div>
              <div class="row">
                <div class="spell attack bg-dark col-lg m-3" data-spell="matches">Соответствия</div>
                <div class="spell heal bg-dark col-lg m-3" data-spell="random">Случайно</div>
              </div>
            </div>
      </div>
    </div>
  </div>
</div>
