<form class="form-group form-inline js-example justify-content-center align-items-center">
    <div class="p-2 question"></div>
    <input class="form-control form-control-lg m-2 js-answer" type="text" autofocus placeholder="Ответ">
    <div class="justify-content-center align-items-center">
        <button type="button" class="btn btn-secondary btn-lg js-speak">Произнести</button>  
        <button type="button form-control" class="btn btn-primary btn-lg">Очевидно</button>  
    </div>
</form>
